name: "Dependencies"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  dependency-submission:
    name: "Submit Dependency Graph"
    runs-on: ubuntu-latest

    permissions:
      # The Dependency Submission API requires write permission.
      contents: write

    steps:

      - name: "Checkout sources"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: "Set up Java"
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version-file: '.java-version'

      - name: "Generate and submit dependency graph"
        # Note: this `uses: gradle/actions/setup-gradle@v3` under the hood.
        uses: gradle/actions/dependency-submission@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
