name: "Dependencies"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  dependency-submission:
    name: "Submit Dependency Graph"
    runs-on: ubuntu-latest

    permissions:
      # The Dependency Submission API requires write permission.
      contents: write

    steps:

      - name: "Checkout sources"
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: "Set up Java"
        uses: actions/setup-java@6a0805fcefea3d4657a47ac4c165951e33482018 # v4
        with:
          distribution: 'temurin'
          java-version-file: '.java-version'

      - name: "Generate and submit dependency graph"
        # Note: this `uses: gradle/actions/setup-gradle@v3` under the hood.
        uses: gradle/actions/dependency-submission@d9c87d481d55275bb5441eef3fe0e46805f9ef70 # v3
