name: "Dependencies"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  dependency-submission:
    name: "Submit Dependency Graph"
    runs-on: ubuntu-latest

    permissions:
      # The Dependency Submission API requires write permission.
      contents: write

    steps:

      - name: "Checkout sources"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: "Set up Java"
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: 'temurin'
          java-version-file: '.java-version'

      - name: "Generate and submit dependency graph"
        # Note: this `uses: gradle/actions/setup-gradle@v3` under the hood.
        uses: gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
