name: "Merge checks"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: "Build project"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}

    permissions:
      contents: read

    steps:

      - name: "Checkout sources"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: "Set up Java"
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4
        with:
          distribution: 'temurin'
          java-version-file: '.java-version'

      - name: "Setup gradle"
        uses: gradle/actions/setup-gradle@ec92e829475ac0c2315ea8f9eced72db85bb337a # v3

      - name: "Run Gradle tasks"
        run: ./gradlew build

      - name: "Upload 'Test Report (${{ matrix.os }})' artifact"
        uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4
        if: success() || failure()
        with:
          name: 'Test Report (${{ matrix.os }})'
          path: |
            build/reports/tests/allTests/
