name: Merge checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build project
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Cache Gradle Files
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Cache CVE database Files
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
        with:
          path: |
            ~/.gradle/dependency-check-data/
          # Use the hash of the gradle files as the key for now,
          # which contains the `org.owasp.dependencycheck` plugin version.
          # The database might depend on other things as well, like date, but this is good enough.
          key: dependency-check-${{ hashFiles('build.gradle.kts') }}
          restore-keys: |
            dependency-check-

      - name: Run Gradle tasks
        run: ./gradlew build 

      - name: Upload 'Test Report' artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3
        if: success() || failure()
        with:
          name: Test Report
          path: |
            build/reports/tests/allTests/

      - name: Dependency Check
        run: ./gradlew dependencyCheckAnalyze

      - name: Upload 'Dependency Check Report' artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3
        if: success() || failure()
        with:
          name: Dependency Check Report
          path: |
            build/reports/dependency-check-report.html
