name: "Merge Checks"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: "Build Project"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}

    permissions:
      contents: read

    steps:

      - name: "Checkout sources"
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: "Set up Java"
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: ${{ (runner.os == 'macOS' && runner.arch == 'ARM64') && 'zulu' || 'temurin' }}
          java-version-file: '.java-version'

      - name: "Setup gradle"
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

      - name: "Run Gradle tasks"
        run: ./gradlew build publishToMavenLocal

      - name: "Upload 'Test Report (${{ matrix.os }})' artifact"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: success() || failure()
        with:
          name: 'Test Report (${{ matrix.os }})'
          path: |
            build/reports/tests/allTests/
