name: "Merge Checks"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: "Build Project"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}

    permissions:
      contents: read

    steps:

      - name: "Checkout sources"
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: "Set up Java"
        uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73 # v4
        with:
          distribution: ${{ (runner.os == 'macOS' && runner.arch == 'ARM64') && 'zulu' || 'temurin' }}
          java-version-file: '.java-version'

      - name: "Setup gradle"
        uses: gradle/actions/setup-gradle@d156388eb19639ec20ade50009f3d199ce1e2808 # v4

      - name: "Run Gradle tasks"
        run: ./gradlew build

      - name: "Upload 'Test Report (${{ matrix.os }})' artifact"
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4
        if: success() || failure()
        with:
          name: 'Test Report (${{ matrix.os }})'
          path: |
            build/reports/tests/allTests/
