name: "Merge Checks"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: "Build Project"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}

    permissions:
      contents: read

    steps:

      - name: "Checkout sources"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: "Set up Java"
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: ${{ (runner.os == 'macOS' && runner.arch == 'ARM64') && 'zulu' || 'temurin' }}
          java-version-file: '.java-version'

      - name: "Setup gradle"
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5

      - name: "Run Gradle tasks"
        run: ./gradlew build publishToMavenLocal

      - name: "Upload 'Test Report (${{ matrix.os }})' artifact"
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        if: success() || failure()
        with:
          name: 'Test Report (${{ matrix.os }})'
          path: |
            build/reports/tests/allTests/
